body{
  background-color: #222;
}

canvas {
  height: 100vh !important;
}

.container {
  width: 100vw;
  position: absolute;
  display: grid;
  place-content: center;
  top: 0;
  padding-top: 50px;
}

.image {
  height: 50px;
  width: auto;
}

.container-loop {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: grid;
  place-content: center;
  top: 0;
  padding-top: 50px;
}

.loop {
  width: 100%;
  position: absolute;
  top: 65%;
  background-color: #a3e635;
  white-space: nowrap;
  padding: 1% 0;
  font-size: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow: hidden;
}

.loop h2{
  font-weight: 400;
  -webkit-text-stroke: 1.2px #000;
  color: transparent;
  animation-name: anim;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes anim {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(-100%);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .loop{
    font-size: 60px;
  }
}